@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
*{background-color:#7FFF00; /* Новый цвет фона */
    font-family: "Micro 5", sans-serif;}
body {
    
    margin: 0;
    padding: 0;
}